@charset "utf-8";
/* Documento CSS de formatação dos site
 * Author: Fábio C.S. Miranda
 */
@import 'reset.css';
@import 'text.css';

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2em;
  color:#ec008c;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

small {
  font-size: 0.8em;
}

/* `Misc Classes
----------------------------------------------------------------------------------------------------*/
.clear{
    clear: both;
}
.align_center {
  text-align: center;
}

.align_right {
  text-align: right;
}

.align_left{
	text-align: left;
}

.float_left{
	float:left;
}

.float_right{
	float:right
}
div:after, ol:after, form:after, ul:after, dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/*======Container===========================================*/

#div_main_container{
    width: 980px;
    margin: 0 auto;
}
/*======Topo===========================================*/
#menu{
    margin-bottom: 0;
}
#menu li{
    height: 25px;
    display: inline-block;
    margin-left: 1px;
}
#menu li:first-child{
    margin-left: 3px;
}
#menu li a{
    margin-bottom: -10px;
    height: 25px;
    display: inline-block;
}
#menu_cultura {
    background: url("../imagens/img_menu_inatv_CULTURA.png") center center no-repeat;
    width: 79px;
}
#menu_cultura.menuAtivo, #menu_cultura:hover {
    background: url("../imagens/img_menu_atv_CULTURA.png") center center no-repeat;
}
#menu_cultura a{
    width: 79px;
}
#menu_gastronomia {
    background: url("../imagens/img_menu_inatv_GASTRONOMIA.png") center center no-repeat;
    width: 126px;
}
#menu_gastronomia.menuAtivo, #menu_gastronomia:hover {
    background: url("../imagens/img_menu_atv_GASTRONOMIA.png") center center no-repeat;
}
#menu_gastronomia a{
    width: 126px;
}

#menu_moda {
    background: url("../imagens/img_menu_inatv_MODA.png") center center no-repeat;
    width: 63px;
}
#menu_moda.menuAtivo, #menu_moda:hover {
    background: url("../imagens/img_menu_atv_MODA.png") center center no-repeat;
}
#menu_moda a{
    width: 63px;
}
#menu_saude {
    background: url("../imagens/img_menu_inatv_SAUDE.png") center center no-repeat;
    width: 63px;
}
#menu_saude.menuAtivo, #menu_saude:hover {
    background: url("../imagens/img_menu_atv_SAUDE.png") center center no-repeat;
}
#menu_saude a{
    width: 63px;
}
#menu_viagem {
    background: url("../imagens/img_menu_inatv_VIAGEM.png") center center no-repeat;
    width: 76px;
}
#menu_viagem.menuAtivo, #menu_viagem:hover {
    background: url("../imagens/img_menu_atv_VIAGEM.png") center center no-repeat;
}
#menu_viagem a{
    width: 76px;
}
#menu_arquiteturadesign {
    background: url("../imagens/img_menu_inatv_ARQUITETURA_DESIGN.png") center center no-repeat;
    width: 192px;
}
#menu_arquiteturadesign.menuAtivo, #menu_arquiteturadesign:hover {
    background: url("../imagens/img_menu_atv_ARQUITETURA_DESIGN.png") center center no-repeat;
}
#menu_arquiteturadesign a{
    width: 192px;
}

#menu_voluntariado {
    background: url("../imagens/img_menu_inatv_VOLUNTARIADO.png") center center no-repeat;
    width: 132px;
}
#menu_voluntariado.menuAtivo, #menu_voluntariado:hover {
    background: url("../imagens/img_menu_atv_VOLUNTARIADO.png") center center no-repeat;
}
#menu_voluntariado a{
    width: 132px;
}
#menu_zoom {
    background: url("../imagens/img_menu_inatv_ZOOM.png") center center no-repeat;
    width: 63px;
}
#menu_zoom.menuAtivo, #menu_zoom:hover {
    background: url("../imagens/img_menu_atv_ZOOM.png") center center no-repeat;
}
#menu_zoom a{
    width: 63px;
}
#menu_guia {
    background: url("../imagens/img_menu_inatv_GUIA_SERVICOS.png") center center no-repeat;
    width: 151px;
}
#menu_guia.menuAtivo, #menu_guia:hover {
    background: url("../imagens/img_menu_atv_GUIA_SERVICOS.png") center center no-repeat;
}
#menu_guia a{
    width: 151px;
}
#div_logo{
    margin: 0px 0px 50px 15px;
    padding-top: 70px;
}
#div_menu{
    margin-bottom: 25px;
}
/*======rodape===========================================*/
#div_rodape{
    width: 980px;
    margin: 60px auto 20px;
}
#div_redes_sociais{
    margin-top: -5px;
    float: right;
}
#div_barra_rodape{
    color: #898888;
    width: 550px;
    float: left;
    margin-left: 20px;
}

#div_barra_rodape img, #div_barra_rodape p{
    float: left;
}

#div_barra_rodape p{
    margin-left: 5px;
    margin-right: 7px;
}

#div_barra_rodape a {
    color: inherit;
    text-decoration: none;
    margin-right: 3px;
    margin-left: 7px;
}
/*====== Cultura Detalhes =======*/
#div_esquerda{
    float: left;
    width: 660px;
    margin-left: 20px;
}

#div_main_zoom #div_esquerda{
    margin-top: 14px;
}

#div_main_cultura{
    width: 980px;
}
#div_textosConteudo p, #div_agenda p{
    margin-bottom: 17px;
    font-size: 18px;
}
#div_agenda{
    margin-top: 15px;
}
#div_agenda h5{
    margin-bottom: 15px;
}
#div_btn_redes{
    margin-top: 20px;
}
#div_direita{
    float:right;
}
#div_boxzoom{
    width: 230px;
    height: 270px;
    background-color: #ec008c;
    padding: 10px;
    margin-bottom: 10px;
}
#div_fotozoom{
    margin: 0 auto;
    text-align: center;
}
#img_tit_zoom {
    margin: 15px auto 10px;
}
#div_boxzoom p{
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    margin-bottom: 0;
}
#div_boxzoom p span{
    color: #000;
}
#div_direita .anuncio{
    margin-bottom: 10px;
}
/*============== Cultura Home =================*/
.cultura_item{
    width: 640px;
    height: 180px;
    padding: 10px;
    font-weight: bold;
    background-color: #fff;
    color: #888888;
    margin-bottom: 20px;
}
.imagem_item_cultura{
    width: 280px;
    height: 180px;
    background-color: #ecebeb;
    float: left;
    margin-right: 25px;
}
.cultura_item.ativo{
    background-color: #ec008c;
    color: #fff;
}
.cultura_item h2{
    color: #000;
    margin-bottom: 15px;
}
.cultura_item h4{
    color: #888888;
    margin-bottom: 10px;
}
.cultura_item.ativo h4{
    color: #fff;
    margin-bottom: 10px;
}
.cultura_item a{
    text-decoration: none;
}
.cultura_item p{
    line-height: 1.5em;
    margin-bottom: 21px;
}
.cultura_item.ativo p{
    color: #fff;
}
.cultura_item span{
    color: #000;
}
.mais_info{
    float:right;
    display: block;
    height: 20px;
    width: 69px;
    background: url("../imagens/img_infos_rosa.png") no-repeat center center;
}
.cultura_item.ativo .mais_info{
    background: url("../imagens/img_infos.png") no-repeat center center;
}
/*============== Viagem ==================*/
#img_tit_assine{
    margin-top: 10px;
    margin-bottom: 5px;
}
/*============== Classes =================*/
.legendaAnuncio{
    font-size: 11px;
    margin-bottom: 10px;
}
.anuncio660x86{
    width: 660px;
    height: 86px;
    margin-bottom: 16px;
}
.anuncio681x78{
    width: 681px;
    height: 78px;
    margin-bottom: 35px;
}
.legendaFoto{
    margin-top: 17px;
    color: #000;
    margin-bottom: 12px;
}
.anuncio250x250{
    width: 250px;
    height: 250px;
}
#div_main_zoom .anuncio250x250{
    position: relative;
    left: 5px;
}
.anuncio250x125{
    width: 250px;
    height: 125px;
}
.anuncio{
    background-color: #ecebeb;
}
.anuncio p{
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}
.anuncio span{
    display: table-cell;
    vertical-align: middle;
}
.box_cultura{
    width: 660px;
    height: 210px;
    position: absolute;
}
.destaq{
    background-color: #ec068f;
}
.box_cultura .foto{
    background-color: #ecebeb;
    width: 280px;
    height: 185px;
    position: absolute;
    left: 13px;
    top: 12px;
}
.box_cultura .texto{
    width: 335px;
    height: 180px;
    border: 1px solid red;
    position: absolute;
    right: 10px;
    top: 12px;
}
#div_boxhist{
    width: 250px;
    background-color: #898888;
    margin-bottom: 10px;
}
#div_boxhist ul{
  margin-bottom: 5px;
}

#historico a{
    text-decoration: none;
    color: #fff;
}
.tit_album{
    position: relative;
    top: 10px;
    left: 10px;
    margin-bottom: 15px;
}
#div_boxhist li{
    color:#fff;
    list-style-image: url('../imagens/img_arrow.png');
    list-style-type: square;
    margin-top: 5px;
}
#div_boxhist h5, h6{
    color: #fff;
    margin-bottom: 10px;
}
#box_pesq{
    width: 250px;
    height: 120px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 15px;
}
#box_pesq #pesquisa{
    width: 210px;
    height: 45px;
    position: relative;
    left: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #bababa;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 1.2em;
}
#box_pesq #buscar{
    width: 90px;
    height: 30px;
    background-color: #898888;
    color: #fff;
    margin: auto;
    position: relative;
    left: 80px;
    border: 0px;
    font-weight: bold;
}
#colecao_albums{
    width: 685px;
    height: 1000px;
}
#descr_album{
    margin-bottom: 80px;
}
#descr_album p{
    margin-bottom: 5px;
    color: #000;
}
#colecao_albums h2{
    color: #898888;
}
.album{
    width: 160px;
    height: 220px;
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;
}
.album .img_album{
    width: 160px;
    height: 160px;
    background-color: #ecebeb;
}
.album .alb_tit{
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}
#div_main_zoom h1{
    margin-top: 0px;
    margin-bottom: 10px;
}
#div_noticias h2{
    margin: 53px auto 31px;
    color: #898888;
}
.div_alb_detalhe .album{
    height: 275px;
    margin-bottom: 50px;
}
.div_alb_detalhe .alb_tit{
    margin-bottom: 1px;
}
#div_main_gastronomia{
    width: 980px;
}
#div_main_gastronomia #div_esquerda{
    width: 681px;
    float: left;
}
#div_main_gastronomia #div_conteudo{
    float: left;
}
#div_main_gastronomia .anuncio660x86{
    width: 681px;
    height: 86px;
}
#noticia_container{
    width: 715px;
    position: relative;
    left: -20px;
}
#noticia_container #seta_dir, #noticia_container #seta_esq{
    float: left;
    height: 250px;
    width: 12px;
}
#noticia_container #seta_dir{
    float: right;
}
#noticia_container #seta_esq{
    margin-right: 0;
}
#noticia_container #seta_dir, #seta_esq img{
    margin-top: 120px;
}
.noticia_item{
    background-color: #ecebeb;
    width: 166px;
    float: left;
    margin-right: 7px;
    padding-bottom: 20px;
}
.last{
    margin-right: 0;
}
.noticia_item img{
    margin-top: 7px;
    margin-left: 7px;
}
.noticia_item h6{
    background-color: #898888;
    color: #fff;
    width: 147px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: auto;
    font-size: 1.4em;
    margin-bottom: 15px;
}
.noticia_item p{
    width: 140px;
    margin: auto;
    color: #5f5f5f;
}
#gastr_main_txt h1{
    margin-bottom: 10px;
}
#gastr_main_txt .label{
    color: #000;
}
#gast_text p{
    font-size: 1.4em;
}
#gast_text a{
    color: #ec008c;
    font-weight: bold;
}
#div_noticias .gast_detalhe{
    color: #000;
}
#recomenda{
    width: 220px;
    background-color: #ecebeb;
    padding: 15px
}
#rec_conteudo{
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
#recomenda .recomenda{
    
}
#recomenda .img_prod{
    margin-top: 5px;
}
#recomenda h3{
    color: #898888;
    text-align: center;
}

#artigo_saude{
    background-color: #ec008c;
}

#artigo_saude h1{
    color: #000;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#artigo_saude h2{
    color: #fff;
    font-size: 1.8em;
}

#artigo_saude h3{
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
}

#artigo_saude h4{
    color: #fff;
    font-size: 1.1em;
    font-style: italic;
    font-weight: normal;
}

#artigo_saude p{
    color: #fff;
    font-size: 1em;
}

#box_titulo{
    float: left;
    margin-left: 20px;
}

#box_saude{
    float: left;
    margin-top: 15px;
    margin-left: 14px;
}

#box_texto img, #box_texto h2, #box_texto p{
    margin-left: 10px;
}

#box_texto img{
    margin-top: 10px;
    float: left;
}

#img_participar{
    width: 126px;
    margin: 25px auto 25px;
}

#box_texto h2{
    float: left;
    margin-top: 20px;
}

.artigo_saude_menor{
    width: 660px;
    background-color: #ecebeb;
    margin-bottom: 10px;
    padding-top: 20px;
}

.artigo_saude_menor h6{
   color: #898888;
   margin-left: 15px;
}

.artigo_saude_menor p{
    margin-left: 15px;
    font-size: 18px;
    margin-top: 20px;
}
